@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font: 'Kanit', sans-serif;

@mixin font($color: #f8f8ff, $size: 1em) {
    color: $color;
    font-family: $font;
    font-size: $size;
}

@mixin size($size: 0px) {
    width: $size;
    height: $size;
}

%area {
    width: 80vw;
    height: 100vh;
}

// @mixin area($bgcolor: DarkGray) {
//     background: $bgcolor;
//     @extend %area;
// }

.container {

    width: 100vw;
    height: 200vh;
    background-image: linear-gradient(to bottom, #282f4b, #14162a, #2b1d3d);
    display: flex;
    flex-direction: column;
    align-items: center;

    .area_1 {
        @extend %area;
        // background-image: linear-gradient(to bottom, #282f4b, #14162a);
        display: flex;
        align-items: center;
        justify-content: space-around;
        z-index: 2;
        position: absolute;

        .welcomeText {
            width: 600px;
            height: 300px;

            .header {
                @include font($size: 3em);
                font-weight: 200;
                letter-spacing: 0.1em;
                line-height: 1.1em;
            }

            .content {
                @include font($color: #f8f8ff7f, $size: 1.5em);
                font-weight: 200;
                margin-top: 1em;
                // line-height: 1.1em;
            }

            .contact {
                margin-top: 1em;
                display: flex;
                gap: .5em;
            }
        }

        .myIMG {

            .image {

                @include size($size: 32rem);
                clip-path: circle();
                background-color: #2b3351;
                position: relative;
                z-index: 2;
                // position: absolute;

                img {
                    height: inherit;
                    transform: translateX(-10%);
                }
            }

            .backCircle {
                @include size($size: 25rem);
                border: 2px solid #3c4566;
                border-radius: 15%;
                position: relative;
                z-index: 1;
                // position: absolute;
            }
        }
    }

    .area_2 {
        @extend %area;
        display: flex;
        align-items: center;
        justify-content: space-around;
        z-index: 1;
        position: absolute;
        top: 50vh;

        .left {
            flex: 6;

            .graphic1 {
                width: 30rem;
            }

            .graphic2 {
                width: 34rem;
            }
        }

        .right {
            flex: 4;
            height: 300px;

            .header {
                @include font($size: 3em);
                font-weight: 200;
                letter-spacing: 0.1em;
                line-height: 1.1em;
            }

            .content {
                @include font($color: #f8f8ff7f, $size: 1.5em);
                font-weight: 200;
                margin-top: 1em;

                a {
                    text-decoration: none;
                }
                
                a:nth-child(1) { color: #35d7ec; }
                a:nth-child(2) { color: #fff570; }
                a:nth-child(3) { color: #fa71ff; }
                a:nth-child(4) { color: #cf7ffd; }
            }

            .repo {
                margin-top: 2rem;
            }
        }
    }

    .area_3 {
        @extend %area;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 0;
        position: absolute;
        top: 100vh;
        box-sizing: border-box;
        gap: 3rem;
    }
}

@media (max-width: 1024px) {
    .right {
        flex: 3;
    }
}